<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Data Source : Server'in adı
        Initial Catalog : DB'nın adı
        user id : kullancı adı
        password : şifre
        -->
    <add 
      name="OgrencilerDB" 
      connectionString="Data Source=.\sqlexpress;Initial Catalog=OgrencilerDB;user id=sa;password=a9?z:kX162MP"/>


    <!--Birden fazla connection string saklayabiliriz-->
    <!--her bir tane için ayrı name vardır-->
    <add
      name="KutuphaneDB"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=KutuphaneDB;user id=sa;password=a9?z:kX162MP"/>

  </connectionStrings>
</configuration>